---
layout: base
---

<div>
    <div class="blog-post-content">
		{{ content| safe }}
	</div>
</div>
<br/> <br/>
<div>
    {% include "partials/_paginate.njk" %}
</div>
<br/> <hr/> <br/>
<div>
    <a href="/blog">Blog Home</a>
</div>