---
layout: base
---

<div class="blog-post-content">
    {{ content | safe }}
</div>

<!-- Счётчик просмотров -->
<div id="post-views" data-slug="{{ page.fileSlug }}">
    Views: <span>0</span>
</div>
<script type="module" src="/js/views.js"></script>

<!-- Пагинация -->
{% set postCollection = page.postCollection %}
{% include "partials/_paginate.njk" %}

<br/><hr/><br/>

<div>
    <a href="/blog">Blog Home</a>
</div>
