*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  
}

html, body{
    height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color: lightgray;
}

nav > a {
  display: block;
  padding: 1rem ;
  color: lightgray;
}
nav > a:hover {
  color: aqua;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding:  2rem;
  min-height: calc(100vh - 32px);
 
 
}

main > h1 {
  margin-block-start: 1.5rem;
  margin-block-end: .3rem;
}

main > img {
  border-radius: 5px;
}

.home_content{
  margin-block-start: 2rem;
}

footer {
  background-color: black;
  color: lightgray;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #444;
}

.paginate > a {
  color: black;
}

.paginate__label {
  font-weight: 700; /* жирный */
  margin-right: .25rem;
}

.paginate__title {
  font-weight: 400; /* обычный */
  color: indigo;
}

.paginate > a:hover .paginate__title{
  text-decoration: underline;
}

.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.blog-list > li {
  margin-bottom: 1.25rem;
}

.blog-list-item {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column; 
  gap: .25rem;
  border: 3px solid #CCCCDD;
  border-radius: 6px;
  box-shadow: 2px 2px 10px   rgb(0, 0, 0, .1);
  
  
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;  /* для старых браузеров */
  word-break: break-word;
}

.blog-list-item + .blog-list-item{
  margin-block-start: 1.5rem;
}

.blog-list a{
  color: black;
  font-size: 1rem;
}

.blog-list-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.blog-list-date {
  font-size: .75rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-Style: italic;
  color: #AAAABB;
}

.blog-post-content {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;  /* для старых браузеров */
  word-break: break-word;
}


