*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-bg: #0D0D0D;
  --dark-link: #FF5E3A;
  --dark-link-hover: #FFC37F;
  --dark-plain-text: #FAEEEB;
  --dark-border: #702E1F;
  --dark-semi-text: #AAAABB;
  --icon-gap: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  background-color: var(--dark-bg);
  color: var(--dark-plain-text);
}

html, body{
    height: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-link);
  transition: color 2s;
  font-weight: 700;
}
a:hover {
  color: var(--dark-link-hover);
  transition: color 0.3s;
  text-decoration: underline;
}

h1, h2, h3{
  color: var(--dark-plain-text);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 { font-size: 2rem; font-weight: 900; }
h2 { font-size: 1.5rem; font-weight: 800; }
h3 { font-size: 1.2rem; font-weight: 700; }


@font-face {
  font-family: "Rockybilly";
  src: url("/assets/fonts/Rockybilly.woff2") format("woff2"),
       url("/assets/fonts/Rockybilly.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--dark-link);
  color: var(--dark-bg);
}

nav > a {
  display: block;
  padding: 1rem ;
  font-weight: 700; /* жирный */
  color: var(--dark-bg); 
}


.welcome-block {
  font-family: Rockybilly;
  color: var(--dark-link);
  margin-top: 1rem;
  text-wrap: nowrap; /* запрещаем перенос */
  --scale: clamp(2rem, 12vw, 5rem); /* умнее чем min() */
}

.welcome-big {
  font-size: var(--scale);
  line-height: 1.5;
  margin-top: calc(var(--scale)*0.7);
  text-align: center;
  padding: 0rem 0;
  margin-right: 1rem;
}

.welcome-small {
  font-size: calc(var(--scale) / 6);
  line-height: 1;
}



.icon-row {	
  margin-top: 1rem ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: right;
  width: 3rem;
  height: 3rem;
}

.icon + .icon{
  margin-left: var(--icon-gap);
  }

.icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.img-inline {
  width: min(33%, 350px);
  float: left;
  margin: 0 1rem 1rem 0;
}

.img-inline img {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}

.img-inline.left {
  float: left;
  margin: 0 1rem 1rem 0;
}

.img-inline.right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.img-inline.center {
  margin: 1rem auto;
  float: none;
  display: block;
}

.img-inline.round img {
  border-radius: 50%;
  object-fit: cover;
}



.site-nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--dark-link);
  color: var(--dark-bg);

  justify-content: flex-start;
  gap: clamp(1rem, 2vw, 1rem);

  flex-wrap: wrap; /* вот это спасает мобилку */
}


.site-nav > a {
  display: block;
  padding: .1rem ;
  font-weight: 700; /* жирный */
  color: var(--dark-bg); 
}


.site-header {
  width: 100%;          /* полностью по ширине */
  display: flex;
  background-color: var(--dark-link);
  color: var(--dark-bg);
  padding: 0rem .5rem;   /* отступы сверху/снизу и слева/справа */
  box-sizing: border-box;
  font-size: clamp(.6rem, 2vw, 1rem);
  overflow: visible;
}

.icon-nav {
  flex-shrink: 0;
}

.icon-nav img {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.nav-link {
  color: var(--dark-bg);
  text-decoration: none;
  font-weight: 900;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--dark-link-hover);
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: var(--dark-link);
  border-radius: 0 0 6px 6px; /* верхние углы 0, нижние 6px */
 /*box-shadow: 0 4px 12px rgba(0,0,0,0.15);*/
  padding: 0.5rem 0;
  /*min-width: 1;  минимальная ширина */
  max-width: 90vw;  /* максимум не больше экрана на мобилке */
  z-index: 20;
  overflow: hidden;
  word-wrap: break-word;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--dark-bg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background: var(--dark-link-hover);
  color: var(--dark-bg);
}

/* адаптив для мобильных */
@media (max-width: 360px) {
  .dropdown-content {
    left: auto;     /* сброс позиционирования слева */
    right: 0;       /* привязываем к правому краю родителя */
    min-width: 140px; /* чуть меньше на маленьких экранах */
    max-width: 80vw;  /* чтобы точно не вылезало */
  }
}


main {
  max-width: 50rem;
  margin: 0 auto;
  padding:  2rem;
  min-height: calc(100vh - 32px);

  /* плавный вход */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

main > h1 {
  margin-block-start: 1.5rem;
  margin-block-end: .3rem;
}

main > img {
  border-radius: 5px;
}

.home_content{
  margin-block-start: 2rem;
}

footer {
  background-color: var(--dark-link);
  color: var(--dark-bg);
  padding: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.paginate {
  display: flex;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--dark-border);
}

/* оба поста есть */
.paginate:has(.paginate__prev):has(.paginate__next) {
  justify-content: space-between;
  align-items: center;
}

/* только previous */
.paginate:has(.paginate__prev):not(:has(.paginate__next)) {
  justify-content: flex-start;
}

/* только next */
.paginate:has(.paginate__next):not(:has(.paginate__prev)) {
  justify-content: flex-end;
}

/* внутренности ссылок */
.paginate__prev,
.paginate__next {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none !important;
}

.paginate__label {
  font-weight: 700;
  color: white;
}

.paginate__title {
  font-weight: 400;
  color: var(--dark-link);
}

.paginate__prev:hover .paginate__title,
.paginate__next:hover .paginate__title {
  text-decoration: underline;
  color: var(--dark-link-hover);
}

.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.blog-list > li {
  margin-bottom: 1.25rem;
}

.blog-list-item {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column; 
  gap: .25rem;
  border: 3px solid var(--dark-border);
  border-radius: 6px;
  box-shadow: 2px 2px 10px   rgb(0, 0, 0, .1);
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;  /* для старых браузеров */
  word-break: break-word;
  transition: border 0.3s ease;
}
.blog-list-item:hover {
  border: 3px solid var(--dark-link-hover);
  transition: border 0.3s ease;
  
  text-decoration: none;
}

.blog-list-item + .blog-list-item{
  margin-block-start: 1.5rem;
}

.blog-list-item.flow {
  display: block;         /* отменяем flex */
}

/* clearfix чтобы родитель корректно содержал плавающий элемент */
.blog-list-item.flow::after {
  content: "";
  display: table;
  clear: both;
}

.blog-list a{
  font-size: 1rem;
}

.blog-list-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: .5rem;
  color: white;
}

.blog-list-desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-plain-text);
}

.blog-list-date {
  font-size: .75rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-Style: italic;
  color: var(--dark-semi-text);
}

.blog-post-content {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;  /* для старых браузеров */
  word-break: break-word;
}

.blog-thumb > img {
  width: 100%;
  height: auto; /* сохраняет пропорции */
  display: block; /* чтобы убрать лишние пробелы */
  object-fit: cover; /* если хочешь обрезку, а не растяжку */
  border-radius: 5px;
}

.blog-pagination {
  background: var(--dark-bg);
}
@media (max-width: 700px) {
.blog-pagination {
    font-size: .5rem;
  }
}

.blog-pagination ul {
  list-style: none; /* убираем точки */
  padding: 0;
  display: flex; /* горизонтальное расположение */
  gap: .5rem; /* расстояние между элементами */
}

.blog-pagination li {
  display: inline-block; /* или просто оставь flex на ul, li тоже подстроится */
}

.blog-pagination a {
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--dark-link);
  color: var(--dark-bg);  
  font-weight: 600;
}

.blog-pagination a:hover{
  color: var(--dark-link-hover);
}

.blog-pagination strong {
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--dark-border);
  color: var(--dark-link-hover);
  font-weight: 700;
}
  
.blog-pagination-dots {
  color: var(--dark-link);
  font-weight: 700;
}
.topics-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.topics-panel a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  background: var(--dark-link);
  color: var(--dark-bg);
  font-weight: 600;
  transition: all 0.2s ease;
}

.topics-panel a:hover {
  background: var(--dark-link-hover);
  color: var(--dark-bg);
}

.topics-panel a.active {
  background: var(--dark-border);
  color: var(--dark-link-hover);
  font-weight: 700;
}
.sub-button {
  margin-left: auto;
   display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  background: var(--dark-link);
  color: var(--dark-bg);
  font-weight: 600;
  transition: all 0.2s ease;
}
.sub-button:hover {
  background: var(--dark-link-hover);
  color: var(--dark-bg);
  text-decoration: none;
}
.topics-header {
  display: flex;
  align-items: center;  /* выравнивание по вертикали */
  gap: 12px;            /* расстояние между заголовком и кнопкой */
}

.topics-header h1 {
  margin: 0;            /* убираем стандартный margin для h1 */
}

.moc-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.moc-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  aspect-ratio: 1 / 1;   /* квадрат */
  display: block;
}

.moc-card .blog-thumb {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1 !important; /* принудительно квадрат */
  overflow: hidden;
  border-radius: 5px;
}

.moc-card .blog-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* обрезка по бокам */
  object-position: center;
  display: block;
}

.moc-title {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: bottom 0.25s;
  border-radius: 0 0 5px 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
}

.moc-card:hover .moc-title {
  bottom: 0;
}

