---
layout: base
title: BLOG
description: This is the blog home
order: 3

pagination:
  data: collections.post
  size: 6
  alias: posts
  filter: "{{ currentTopic ? collections.postsByTopic[currentTopic] : collections.post }}"

permalink: "/blog{% if currentTopic %}/topic/{{ currentTopic | slugify }}{% endif %}/page/{{ pagination.pageNumber + 1 }}/"
---

<div class="topics-header">
  <h1>Blog</h1>
  <a href="/feed.xml" class="sub-button">RSS Sub</a>
</div>
<br>

<div class="topics-panel">
  <a href="/blog/" class="{% if not currentTopic %}active{% endif %}">All</a>
  {% for topic in collections.topicsList %}
    <a href="/blog/topic/{{ topic | slugify }}/page/1/" class="topic-btn {% if topic == currentTopic %}active{% endif %}">{{ topic }}</a>
  {% endfor %}
</div>



<ul class='blog-list'>
  {% for post in posts %}
  <li class="blog-post">
    <a href="{{ post.url }}" class="blog-list-item">
            {% if post.data.hero %}
        <div class="blog-thumb">
          {% image post.data.hero, post.data.title %}
        </div>
      {% endif %}
      <div class="blog-list-title">{{ post.data.title }}</div>
      <div class="blog-list-desc">
        {% if post.data.description %}
          {{ post.data.description }}
        {% endif %}
      </div>
      <small class="blog-list-date">{{ post.date | postDate }}</small>
    </a>
  </li>
  {% endfor %}
</ul>

{% include "partials/_blogPaginate.njk" %}
