---
layout: base
title: Blog
description: This is the blog home
tags: page
order: 2

pagination:
  data: collections.post
  size: 6
  alias: posts
  filter: "{{ currentTopic ? collections.postsByTopic[currentTopic] : collections.post }}"

permalink: "/blog{% if currentTopic %}/topic/{{ currentTopic | slugify }}{% endif %}/page/{{ pagination.pageNumber + 1 }}/"
---

<h1>Blog</h1><br>

<div class="topics-panel">
  <a href="/blog/" class="{% if not currentTopic %}active{% endif %}">All</a>
  {% for topic in collections.topicsList %}
    <a href="/blog/topic/{{ topic | slugify }}/page/1/" class="topic-btn {% if topic == currentTopic %}active{% endif %}">{{ topic }}</a>
  {% endfor %}
  <a href="/feed.xml" class="sub-button">RSS Sub</a>
</div>



<ul class='blog-list'>
  {% for post in posts %}
  <li class="blog-post">
    <a href="{{ post.url }}" class="blog-list-item">
      <div class="blog-thumb">
        {% if post.data.hero %}
          {% image post.data.hero, post.data.title %}
        {% endif %}
      </div>
      <div class="blog-list-title">{{ post.data.title }}</div>
      <div class="blog-list-desc">
        {% if post.data.description %}
          {{ post.data.description }}
        {% endif %}
      </div>
      <small class="blog-list-date">{{ post.date | postDate }}</small>
    </a>
  </li>
  {% endfor %}
</ul>

{% if pagination.pages | length > 1 %}
<nav class="blog-pagination">
  <ul>
    {% if pagination.pageNumber > 0 %}
      <li><a href="{{ pagination.href.previous }}">« Newer</a></li>
    {% endif %}

    {% for i in range(0, pagination.pages | length) %}
      {% if i == pagination.pageNumber %}
        <li><strong>{{ i + 1 }}</strong></li>
      {% else %}
        <li><a href="{{ pagination.hrefs[i] }}">{{ i + 1 }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.pageNumber < pagination.pages | length - 1 %}
      <li><a href="{{ pagination.href.next }}">Older »</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}