---
layout: base
title: Home
tags: page
order: 1
---

<img src="/assets/images/Capture1.PNG" alt="">

<!-- Shortcode in use -->
{% pageHeader "Home", "Welcome to my site!"%}

<br>

Yooo this is my site or whatever<br>

<a href="https://www.instagram.com/redverse_">Insta</a><br>
<a href="https://www.11ty.io/">Flickr</a><br>
<a href="vlad.magz@gmail.com">Email</a><br>