---
layout: base
title: HOME
tags: page
order: 1
---

<div class="welcome-block">
	<div class="welcome-small">welcome to</div>
	<br>
	<div class="welcome-big">RedVerse</div>
</div>	

<div class="icon-row">
	<a href="https://www.instagram.com/redverse_" class="icon">
		{% include "icons/insta.svg" %}
	</a>
	<a href="https://www.flickr.com/photos/tremah" class="icon">
		{% include "icons/flickr.svg" %}
	</a>
	<a href="mailto:vlad.magz@gmail.com" class="icon">
		{% include "icons/email.svg" %}
	</a><br>
</div>

{% pageHeading "Hello! I create things!", "My name is Red and I am a product designer, Lego builder and a lot other things I want to become but can't call myself that yet. I'm also a human!" %}

<br>

This website is dedicated to everything I create - be it building Lego MOCs, digital artworks, typography or whatever I decide to learn on a whim. Including web development! 
<br>This website was made from scratch in an effort to learn html+css and I plan on expanding the feature list as I figure it out.<br>




