---
layout: base
title: Home
tags: page
order: 1
---

<img src="/assets/images/Capture1.PNG" alt="">
<div class="icon-row">
	<a href="https://www.instagram.com/redverse_" class="icon">
		{% include "icons/insta.svg" %}
	</a>
	<a href="https://www.flickr.com/photos/tremah" class="icon">
		{% include "icons/flickr.svg" %}
	</a>
	<a href="mailto:vlad.magz@gmail.com" class="icon">
		{% include "icons/email.svg" %}
	</a><br>
</div>
{% pageHeading "Home", "Welcome to my site!" %}

<br>

Yooo this is my site or whatever<br>



