---
layout: base
title: LINKS
tags: page
order: 6
---

<div class="topics-header">
  <h1>Links</h1>
</div>
This page is dedicated to my collection of websites and webrings, as well as just useful links.
<br>
To be populated and prettifyed


<h2>Personal corner</h2>
<a href="https://www.instagram.com/redverse_/">Insta</a><br>
<a href="https://www.flickr.com/photos/tremah/">Flickr</a><br>
<a href="https://rebrickable.com/users/Redverse/mocs/">Rebrickable</a><br>
<a href="mailto:vlad.magz@gmail.com">Email me</a><br>

<h2>Lego-related</h2>
<a href="https://cyclopicbricks.blogspot.com">Cyclopic Bricks</a><br>
<a href="https://arvobrothers.com">Arvo Brothers</a><br>
<a href="https://maddison2d.wixsite.com/maddison2d">Maddison2d</a><br>

<h2>Cool Sites</h2>
<a href="https://espy.world">Espimyte</a><br>
<a href="https://whitep4nth3r.com">Salma Alam-Naylor</a><br>

<h2>Useful links</h2>
<a href="https://dev.to/psypher1/lets-learn-eleventy-1a67">11ty guide I followed</a><br>
<a href="https://www.flaticon.com/">Flaticon</a><br>
<a href="https://www.atypography.com">Atypography</a><br>