---
layout: base
title: CREATIONS
tags: page
order: 2
permalink: "/gallery/"
postCollection: collections.postsByTopic["MOC"]
---

<div class="topics-header">
  <h1>MOC Gallery</h1>
  <a href="/feed-moc.xml" class="sub-button">RSS Sub</a>
</div>
<br>

<div class="moc-gallery">
  {% for post in collections.postsByTopic["MOC"] %}
    <a class="moc-card" href="{{ post.url }}?gallery=true">
            {% if post.data.hero %}
        <div class="blog-thumb">
          {% image post.data.hero, post.data.title %}
        </div>
      {% endif %}
      <div class="moc-title">{{ post.data.title }}</div>
    </a>
  {% endfor %}
</div> 

