<header class="site-header">
  <nav class="site-nav">
    <div class="icon-nav">
      <img src="/assets/images/Avatar_face.svg" alt="Avatar">
    </div>
    {% for item in collections.page %}
      {% if not item.data.pagination %}
        <a href="{{ item.url }}"
           {% if item.url == page.url %}aria-current="page" data-state="active"{% endif %} class="nav-link">
          {{ item.data.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
