{% set postCollection = postCollection or collections.post %}

{% set previousPost = postCollection | getPreviousCollectionItem(page) %}
{% set nextPost = postCollection | getNextCollectionItem(page) %}

<div class="paginate">
  {% if previousPost %}
    <a class="paginate__prev" href="{{ previousPost.url }}">
      <span class="paginate__label">Previous:</span>
      <span class="paginate__title">{{ previousPost.data.title }}</span>
    </a>
  {% endif %}

  {% if nextPost %}
    <a class="paginate__next" href="{{ nextPost.url }}">
      <span class="paginate__label">Next:</span>
      <span class="paginate__title">{{ nextPost.data.title }}</span>
    </a>
  {% endif %}
</div>
